#principal {
    height: 100vh;
}

.pagina-login {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;

    @media screen and (min-width: 768px) {
        flex-direction: row;
    }
}

.pagina-login button {
    cursor: pointer;
}

.header-principal {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 1em;
    align-items: center;
    margin: auto;
    background-color: black;
    color: white;
}

.header-principal h1 {
    margin: 0;
}

.header-principal button {
    padding: 0.3em 0.7em;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: rgb(194, 194, 194);
    }
}

.area-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 30em;
    text-align: center;
}

.area-info p {
    margin: 0;
}

.area-info h1 {
    margin: 0;
    margin-bottom: 0.5em;
    text-decoration: underline;
}

.area-input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 30em;
    text-align: center;
}

.area-input div {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.area-input button {
    background-color: black;
    color: white;
}

.area-input p {
    margin: 0;
    margin-top: 0.5em;
}

.elenco-botoes {
    display: none;
    max-width: 80%;
    width: 40em;
    justify-content: space-evenly;
    align-items: center;
    margin: 2em auto;

    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.elenco-botoes button {
    font-size: 24px;
    font-weight: bold;
    height: 2.7em;
    width: 6em;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

select {
    font-size: 24px;
    font-weight: bold;
    height: 2.7em;
    width: 10em;
    text-align: center;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    margin: 2em auto;
    display: block;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.busca-nome {
    margin: auto;
    margin-bottom: 2em;
    font-size: 24px;
    display: block;
    border: 1px solid black;
    padding: 0.5em 1em;
}

.div-atletas {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    justify-items: center;
    align-items: center;
    max-width: 1400px;
    margin: auto;
}

@media screen and (min-width: 768px) {
    .div-atletas {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


@media screen and (min-width: 1024px) {
    .div-atletas {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


@media screen and (min-width: 1300px) {
    .div-atletas {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

.cartao {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border: 3px solid black;
    background-color: black;
    color: white;
    border-radius: 15px;
    width: 13.5em;
    height: 25em;
    text-align: center;
    padding: 0 10px;
    overflow: hidden;
    position: relative;
}

.cartao h3 {
    min-height: 3em;
    display: flex;
    align-items: center;
}

.cartao img {
    width: 21.5em;
    position: relative;
    right: 3.2em;
}

a {
    background-color: white;
    color: black;
    z-index: 1;
    position: absolute;
    width: 15em;
    height: 2.7em;
    top: 15.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}